body{
	background-image: url(img/ny.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	background-size: 100%;
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	margin-top: 46px;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
}
nav{
	margin: 0;
	background-color: #2C3E50;
	height: 46px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   	float: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4CAF50;
}

h1{
	display: inline-block;
	padding: 0px 10px;
	border-bottom: 2px solid white;
	color: white;
	font-size: 50px;	
}

h2{
	display: inline-block;
	padding: 0px 10px;
	border-bottom: 2px solid #2C3E50;
	color: #2C3E50;
	font-size: 50px;
}

h3{
	display: inline-block;
	padding: 0px 10px;
	border-bottom: 2px solid white;
	color: white;
	font-size: 50px;
}

h4{
	display: inline-block;
	padding: 0px 10px;
	border-bottom: 2px solid #2C3E50;
	color: #2C3E50;
	font-size: 50px;
}


footer {
	bottom: 0;
	background-color: #2C3E50;
	color: white;
}

section {
	padding-top: 10px;
}
.page-title{
	margin: 20px;
}

.ik
{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 40px;
}

table{
	margin: auto;
}

th, td {
   padding: 2px 35px;
}

#textAbout
{
	font-size: 18px;
	color: white;
	width:550px;
	display: block;
	margin: auto;
}

#about{
	height:99vh;
}

#portfolio
{
	height:99vh;
	background-color: white;
}

#experiences{
	height:99vh;
	background-color: lightgrey;
}

#contact
{
	height:99vh;
	background-color: white;
}